# -------------------------------------------------
# Traefik stack execution context
# -------------------------------------------------

- name: Set docker_stack context for Traefik
  ansible.builtin.set_fact:
    docker_stack: "{{ stack_input }}"

- name: Prepare Variables
  import_tasks: prepare.yml

- name: Ensure stack directories
  import_tasks: directories.yml
  when: docker_stack.state | default('present') == 'present'

- name: Render Traefik dynamic configurations
  import_tasks: render.yml
  when: docker_stack.state | default('present') == 'present'
