# -------------------------------------------------------------------
# Purpose:
#   Define Traefik role handlers
# -------------------------------------------------------------------
- name: Restart Traefik
  community.docker.docker_compose_v2:
    project_src: "{{ traefik.directories.base }}"
    state: restarted
  when:
    - traefik.deployment_mode == "compose"
    - not (traefik_deployed | default(false) | bool)
