{# -------------------------------------------------------------------------- #}
{# Traefik Dynamic HTTP Configuration Template                                 #}
{# -------------------------------------------------------------------------- #}

{%- set auth_routers = {} -%}

http:
  routers:
{% for name, r in traefik.dynamic.http.routers.items() %}
{% if r.enabled | default(false) | bool %}
    {{ name }}:
      rule: >
        {{ r.rule }}
      entryPoints:
{{ r.entryPoints | default(['websecure']) | to_nice_yaml(indent=2) | indent(8, true) }}
      service: {{ r.service }}
{% if r.middlewares is defined or (r.basic_auth_users is defined and r.basic_auth_users | length > 0) %}
      middlewares:
{% for mw in r.middlewares | default([]) %}
        - {{ mw }}
{% endfor %}
{% if r.basic_auth_users is defined and r.basic_auth_users | length > 0 %}
        - {{ name }}-auth
{% set _ = auth_routers.update({ name: r }) %}
{% endif %}
{% endif %}
{% if r.tls is mapping %}
      tls:
{{ r.tls | to_nice_yaml(indent=2) | indent(8, true) }}
{% endif %}
{% endif %}
{% endfor %}

{% if traefik.dynamic.http.services is defined %}
  services:
{% for name, svc in traefik.dynamic.http.services.items() %}
{% set router = traefik.dynamic.http.routers[name] | default({}) %}
{% if router.enabled | default(false) | bool %}
    {{ name }}:
{{ svc | to_nice_yaml(indent=2) | indent(6, true) }}
{% endif %}
{% endfor %}
{% endif %}

{% if traefik.dynamic.middlewares or auth_routers %}
  middlewares:
{% for name, mw in (traefik.dynamic.middlewares | default({})).items() %}
    {{ name }}:
{{ mw | to_nice_yaml(indent=2) | indent(6, true) }}
{% endfor %}
{% for name, r in auth_routers.items() %}
    {{ name }}-auth:
      basicAuth:
        users:
{% for user in r.basic_auth_users %}
          - "{{ user }}"
{% endfor %}
{% endfor %}
{% endif %}
